soc-central/deploy/n8n/workflows/02-critical-responder.json
{
  "name": "VYREX — Critical finding responder",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vyrex",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b2c3d4e5-0001-4b01-8b01-000000000001",
      "name": "VYREX webhook (/webhook/vyrex)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [ -260, 300 ],
      "webhookId": "vyrex"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "version": 2 },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.body.finding.severity }}",
              "rightValue": "CRITICAL",
              "operator": { "type": "string", "operation": "equals" }
            },
            {
              "leftValue": "={{ $json.body.finding.severity }}",
              "rightValue": "HIGH",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4b01-8b01-000000000002",
      "name": "Critical or High?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ -20, 300 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VYREX_API }}/incidents/correlate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"min_score\": 60, \"window_hours\": 24 }",
        "options": {}
      },
      "id": "b2c3d4e5-0003-4b01-8b01-000000000003",
      "name": "Correlate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 220, 200 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VYREX_API }}/alerts/dispatch",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "b2c3d4e5-0004-4b01-8b01-000000000004",
      "name": "Dispatch alerts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 440, 200 ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"handled\", \"by\": \"vyrex-n8n\", \"trigger_ref\": \"{{ $('VYREX webhook (/webhook/vyrex)').item.json.body.trigger_ref }}\" }",
        "options": {}
      },
      "id": "b2c3d4e5-0005-4b01-8b01-000000000005",
      "name": "Respond to VYREX",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [ 660, 300 ]
    }
  ],
  "connections": {
    "VYREX webhook (/webhook/vyrex)": { "main": [ [ { "node": "Critical or High?", "type": "main", "index": 0 } ] ] },
    "Critical or High?": { "main": [ [ { "node": "Correlate", "type": "main", "index": 0 } ], [ { "node": "Respond to VYREX", "type": "main", "index": 0 } ] ] },
    "Correlate": { "main": [ [ { "node": "Dispatch alerts", "type": "main", "index": 0 } ] ] },
    "Dispatch alerts": { "main": [ [ { "node": "Respond to VYREX", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "description": "Triggered BY VYREX (the 'Hand off to n8n automation' playbook POSTs the finding to /webhook/vyrex). If it's High/Critical, n8n calls back into VYREX to correlate + dispatch, then answers. Closes the detection->response loop automatically." }
}
