soc-central/deploy/n8n/workflows/04-alert-intake.json
{
  "id": "vyrexAlertIntake",
  "name": "VYREX — Alert intake (channel → n8n)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vyrex-alert",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d4e5f6a7-0001-4d01-8d01-000000000001",
      "name": "Alert webhook (/webhook/vyrex-alert)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [ -260, 300 ],
      "webhookId": "vyrex-alert"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "version": 2 },
          "combinator": "or",
          "conditions": [
            {
              "leftValue": "={{ $json.body.severity }}",
              "rightValue": "critical",
              "operator": { "type": "string", "operation": "equals" }
            }
          ]
        },
        "options": {}
      },
      "id": "d4e5f6a7-0002-4d01-8d01-000000000002",
      "name": "Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [ -20, 240 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.VYREX_API }}/incidents/correlate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"min_score\": 60, \"window_hours\": 24 }",
        "options": {}
      },
      "id": "d4e5f6a7-0003-4d01-8d01-000000000003",
      "name": "Escalate (correlate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 220, 160 ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"status\": \"received\", \"by\": \"vyrex-n8n\" }",
        "options": {}
      },
      "id": "d4e5f6a7-0004-4d01-8d01-000000000004",
      "name": "Ack",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [ 460, 240 ]
    },
    {
      "parameters": {
        "fromEmail": "vyrex@soc.local",
        "toEmail": "soc-team@soc.local",
        "subject": "=VYREX alert — {{ $json.body.subject || 'notification' }}",
        "emailFormat": "text",
        "text": "=A VYREX alert was routed to n8n.\n\nSeverity: {{ $json.body.severity }}\nSubject:  {{ $json.body.subject }}\nBody:     {{ $json.body.body }}\n\n(Air-gapped demo: this email lands in Mailpit at http://localhost:8025)",
        "options": {}
      },
      "id": "d4e5f6a7-0005-4d01-8d01-000000000005",
      "name": "Email the SOC team",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [ -20, 440 ],
      "credentials": { "smtp": { "id": "vyrexMailpitSmtp", "name": "Mailpit SMTP" } },
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Alert webhook (/webhook/vyrex-alert)": { "main": [ [ { "node": "Critical?", "type": "main", "index": 0 }, { "node": "Email the SOC team", "type": "main", "index": 0 } ] ] },
    "Critical?": { "main": [ [ { "node": "Escalate (correlate)", "type": "main", "index": 0 } ], [ { "node": "Ack", "type": "main", "index": 0 } ] ] },
    "Escalate (correlate)": { "main": [ [ { "node": "Ack", "type": "main", "index": 0 } ] ] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": { "description": "Receives VYREX alert-channel deliveries at /webhook/vyrex-alert. Critical alerts trigger a correlate; every alert is emailed to the SOC team (self-hosted Mailpit, air-gap-safe) and acknowledged. The email node 'continues on error', so the loop still works before you create the one-time 'Mailpit SMTP' credential (host mailpit, port 1025, no auth/SSL)." }
}
